body {
    background-color: #343D46;
}

.search {
    text-align: center;
    padding: 10px;
}

#youtubesearch {
    width: 35%;
}

.videoContainer {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    background: white;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.pagination-controls a {
    color: white;
    float: left;
    padding: 8px 16px;
    border-radius: 5px;
}

.pagination-controls a.active {
    background-color: red;
    color: white;
}

.pagination-controls a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

